<!--<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Lejeaftale oprettet</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/leaseAgreement.css">
</head>
<body>

<main class="main-container">
    <h2>✅ Lejeaftalen er oprettet!</h2>
    <p>Tak – aftalen er nu gemt i systemet.</p>
    <label for="status">Status:</label>
    <select id="status" th:field="*{status}" required>
        <option value="Active">Active</option>
        <option value="Completed">Completed</option>
        <option value="Cancelled">Cancelled</option>
    </select>

    <a href="/leaseagreement" class="create-link">← Tilbage til oversigten</a>
</main>

</body>
</html>-->
