<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Bekræftelse</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/customer/createCustomerConfirmation.css">
</head>
<body>

<header class="top-wrapper">
    <div class="logo-left">
        <img src="/images/logo.png" alt="Bilabonnement logo">
    </div>
</header>

<div class="confirmation-container">
    <h1>Bekræftelse af Kundeoprettelse</h1>
    <p th:text="${message}"></p> <!-- Vis succesbeskeden -->

    <div class="customer-details">
        <h3>Kundeoplysninger</h3>
        <p><strong>Navn:</strong> <span th:text="${customer.customerName}"></span></p>
        <p><strong>Email:</strong> <span th:text="${customer.email}"></span></p>
        <p><strong>Telefon:</strong> <span th:text="${customer.phoneNumber}"></span></p>
        <!-- Tilføj flere kundeoplysninger om nødvendigt -->
    </div>
    <!-- Link til tilbage til kundeoversigten -->
    <a href="/customers/startpage" class="back-link">Tilbage til kundeportalen</a>
</div>

</body>
</html>